<div>
  <label for="first-name">First name: </label>
  <input type="text" id="first-name" value="Nick"/>
</div>

<div>
  <label for="last-name">Last name: </label>
  <span id="last-name" class="last-name">Protractor</span>
</div>

<div>
  <label for="address">Address</label>
  <input type="text" id="address" value="Earth" disabled/>
</div>

<div>
  <input type="checkbox" id="aCheckbox" checked/>
  <label for="aCheckbox">Is Checked?</label>
</div>

<div>
  <label for="aList">Some options</label>
  <select id="aList" name="aList">
    <option value="Fair" selected>Fair</option>
    <option value="Good">Good</option>
    <option value="Excellent">Excellent</option>
  </select>
</div>
